{% extends "base.html" %}
{% block content %}

<h2 class="menu-title">SELECT YOUR SUIT</h2>

<div class="suit-container">

    <a class="suit-card" href="{{ url_for('main.suit_cards', suit='spades') }}">
        <img src="{{ url_for('static', filename='images/spade_A.png') }}" class="card-img">
        <span>♠ Spades</span>
    </a>

    <a class="suit-card" href="{{ url_for('main.suit_cards', suit='hearts') }}">
        <img src="{{ url_for('static', filename='images/heart_A.jpg') }}" class="card-img">
        <span>♥ Hearts</span>
    </a>

    <a class="suit-card" href="{{ url_for('main.suit_cards', suit='diamonds') }}">
        <img src="{{ url_for('static', filename='images/diamond_A.jpg') }}" class="card-img">
        <span>♦ Diamonds</span>
    </a>

    <a class="suit-card" href="{{ url_for('main.suit_cards', suit='clubs') }}">
        <img src="{{ url_for('static', filename='images/club_A.jpg') }}" class="card-img">
        <span>♣ Clubs</span>
    </a>

</div>

{% endblock %}
