.btn {
    padding: 12px 25px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    border-radius: 8px;
    transition: 0.2s;
}

.red-btn {
    background: #d10000;
    color: white;
}
.red-btn:hover {
    background: #ff1a1a;
}

.dark-btn {
    background: #222;
    color: #fff;
}

.card-btn {
    background: #111;
    color: #ff3434;
    border: 1px solid #ff3434;
}

.suit-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.suit-card {
    padding: 40px;
    background: rgba(20, 20, 20, 0.8);
    border: 2px solid #ff3434;
    border-radius: 12px;
    font-size: 24px;
    width: 150px;
    text-align: center;
    transition: 0.3s;
}
.suit-card:hover {
    background: #ff3434;
    color: black;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-gap: 15px;
    margin: 40px auto;
    width: 70%;
}

.card-tile {
    padding: 20px;
    text-align: center;
    font-size: 22px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.not-completed {
    background: #111;
    border: 2px solid #ff3434;
    color: #ff3434;
}

.completed {
    background: #006100;
    color: white;
    border: 2px solid #00ff00;
}
/* AUDIO BUTTON */
.audio-btn {
    position: fixed;
    top: 100px;
    right: 25px;
    z-index: 2000;

    background: rgba(255, 0, 0, 0.6);
    border: 2px solid #ff4444;
    color: white;
    font-size: 22px;
    padding: 10px 14px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
}

.audio-btn:hover {
    background: rgba(255, 0, 0, 0.9);
    transform: scale(1.1);
}
.highlight {
    background: yellow;
    color: black;
    padding: 2px 4px;
    border-radius: 4px;
}

.story-controls {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.story-text {
    font-size: 20px;
    line-height: 1.7;
    margin: 20px 0;
}
