<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title if title else "Borderland Game" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>

<body class="dark-theme">

    <div class="blood-overlay"></div>
    <div class="grunge-overlay"></div>

    <header>
        <h1 class="title">ALICE BORDERLAND GAME</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
